<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRksHZ7MvU7caDzd9m81VZRAe_6BD1wrk</string>
	<key>GCM_SENDER_ID</key>
	<string>813980641653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task2.app</string>
	<key>PROJECT_ID</key>
	<string>task6-de697</string>
	<key>STORAGE_BUCKET</key>
	<string>task6-de697.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813980641653:ios:cb74ddcb406ab02eb54b3c</string>
</dict>
</plist>